.container-buttons {
  margin-left: 15px;
}

.container-buttons-btn {
  font-size: 1.2rem !important;
  border-radius: 10px !important;
  margin-right: 20px !important;
}

:root[data-theme="dark"] .container-buttons-btn {
  color: var(--color-black);
}

/* Responsive */
@media (max-width: 920px) {
  .container-buttons {
    margin-left: 20px;
    max-width: 900px;
  }

  .container-buttons-btn {
    font-size: 1rem !important;
  }
}

@media (max-width: 820px) {
  .container-buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .container-buttons-btn {
    font-size: 1.2rem !important;
    width: 250px;
  }
}