.container-buttons {
  min-width: 1000px;
}

.container-buttons-btn {
  font-size: 1.2rem !important;
  border-radius: 10px !important;
  margin-right: 20px !important;
}

:root[data-theme="dark"] .container-buttons-btn {
  color: var(--color-black);
}