.header-container {
  background: var(--color-primary) !important;
  height: 100px;
  justify-content: center;
}

.header-toolbar {
  width: 65%;
  margin: 0 auto;
}

.header-image {
  width: 50px;
  margin-right: 20px;
}

.header-title {
  flex-grow: 1;
  font-family: 'Montserrat, sans-serif';
  font-size: 2.5rem !important;
  font-weight: bold !important;
}