.container {
  padding: 0 !important;
  margin: 0 !important;
}

.container-charts {
  display: flex;
  background-color: var(--table-bg);
  min-width: 1000px;
  justify-content: center;
}

.container-loading {
  display: flex;
  flex-direction: column;
  background-color: var(--table-bg);
  min-width: 350px;
  align-items: center;
  border-radius: 25px;
  padding: 25px 0 20px 0;
  gap: 25px;
}

/* Responsive */
@media (max-width: 1020px) {
  .container-charts {
    min-width: 900px;
  }
}

@media (max-width: 920px) {
  .container-charts {
    min-width: 800px;
  }
}

@media (max-width: 820px) {
  .container-charts {
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    gap: 20px;
    padding: 10px;
  }
}