.chart-container  {
  margin: 0 40px;
}

.chart-text {
  font-size: 1.5rem !important;
  font-weight: bold !important;
  padding-top: 20px;
}

.chart-value {
  font-size: 3rem !important;
  font-weight: bold !important;
}

.chart-target {
  font-weight: bold !important;
  color: var(--text-gray);
  padding-top: 5px;
}

.chart-total {
  font-weight: bold !important;
  color: var(--text-gray);
}

/* Responsive */
@media (max-width: 1020px) {
  .chart-container  {
    margin: 0 5px;
  }
}

@media (max-width: 920px) {
  .chart-container  {
    margin: 0 5px;
  }
}