.chart-text {
  font-size: 1.5rem !important;
  font-weight: bold !important;
  padding-top: 10px;
}

.chart-value {
  font-size: 3rem !important;
  font-weight: bold !important;
}

.chart-target {
  font-weight: bold !important;
  color: var(--text-gray);
  padding-top: 10px;
}