/* Estilos básicos */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background: var(--bg);
  color: var(--text);
}

/* Variables */
:root {
  --color-primary: #22c55e;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-light-gray: #9c9a9a;
  --color-dark-gray: #696767;
  --color-blue: #1976D2; /* Hover: #1565C0 */
  --color-red: #D32F2F; /* Hover: #C62828 */
}

/* Tema claro/oscuro */
:root[data-theme="light"] {
  --bg: #dadae0;
  --text: var(--color-black);
  --table-bg: #BCBCC48A;
  --text-gray: var(--color-dark-gray);
}

:root[data-theme="dark"] {
  --bg: #636366;
  --text: var(--color-white);
  --table-bg: #4e5052;
  --text-gray: var(--color-light-gray);
}

/* Elementos comunes */
/* a {
  text-decoration: none;
  color: inherit;
}
*/

button {
  text-transform: none !important;
}